.login{
    text-decoration: none;
    color: black;
}

.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}
    
.background{
    background-image: url("./img/monde.jpeg");
}

#id{
    margin-left: 1.2rem;
}


